
    <h1>Event Horizon</h1>
    <main>
        <p>Welcome to Event Horizon!</p>
        {{> dashboard}}
        {{#each allEvents}}

    <a href="/event/{{id}}">{{eventName}}</a>
<main>
    <h2 id="eventTime">{{eventTime}}</h2>
    <h2 id="eventLocation">{{eventLocation}}</h2>
    <p  id="eventDescription">{{eventDescription}}</p>

    {{/each}}
    </main>

    {{#if loggedIn}}
        <script>
            var userIsLoggedIn = true;
        </script>
    {{else}}
        <script>
            var userIsLoggedIn = false;
        </script>
    {{/if}}

    

<script>
        if (userIsLoggedIn) {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('logoutLink').style.display = 'inline';
        } else {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('logoutLink').style.display = 'none';
        }
     <button id="logoutLink" href="/logout"> Logout </button>
</script>
